<!doctype html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>fundooNotes</title>
    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'users/main.css' %}">
    <script type="text/javascript" src="{% static 'users/script.js' %}"></script>

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
    
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
    			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        			<span class="sr-only">Toggle navigation</span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
    			</button>
                <div  class="navbar-brand">
                    <a id="menu-toggle" href="#" class="glyphicon glyphicon-align-justify btn-menu toggle">
                        <a id="fundoo-img" class="navbar-brand" href="#">
                   <img src="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png" width="40" height="40" class="d-inline-block align-top" alt="" align="left" hspace="35">
                     </a>

                        <i class="fa fa-bars"></i>
                    </a>
                    <a style="margin-left: -36px;color: #635f5f;font-size: 21px;" href="#">fundooNotes</a>
                </div>
			</div>
            <form class="navbar-form navbar-left">
                  <div class="form-group">
                        <!--<input class="form-control mr-lg-2" type="search" placeholder="Search" aria-label="Search">-->
                          <input class="form-control input-lg" id="inputlg" type="text" type="search" placeholder="Search" aria-label="Search">

                  </div>
                  <button type="button" class="btn "><span class="glyphicon glyphicon-repeat"></span> </button>
                  <button type="button" class="btn "><span class="glyphicon glyphicon-th-large"></span> </button>
                  <button type="button" class="btn "><span class="glyphicon glyphicon-cog"></span> </button>
                  <button type="button" class="btn "style="margin-left: 24px;"><span class="glyphicon glyphicon-th"></span> </button>
                  <button type="button" class="btn "><span class="glyphicon glyphicon-bell"></span> </button>


            </form>

			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">


				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</nav>
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <nav id="spy">
            <ul class="sidebar-nav nav">
                <li class="sidebar-brand">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"  class="gb_Uc"><path d="M9 21c0 .55.45 1 1 1h4c.55 0 1-.45 1-1v-1H9v1zm3-19C8.14 2 5 5.14 5 9c0 2.38 1.19 4.47 3 5.74V17c0 .55.45 1 1 1h6c.55 0 1-.45 1-1v-2.26c1.81-1.27 3-3.36 3-5.74 0-3.86-3.14-7-7-7zm2.85 11.1l-.85.6V16h-4v-2.3l-.85-.6A4.997 4.997 0 0 1 7 9c0-2.76 2.24-5 5-5s5 2.24 5 5c0 1.63-.8 3.16-2.15 4.1z"></path></svg>
                    <a href="#Notes"><span class="fa fa-home solo"><b>Notes</b></span></a>
                </li>
                <li>
                    <a href="#Remainders">
                        <span  class="glyphicon glyphicon-bell"></span>
                        <span class="fa fa-anchor solo"><b>Remainders</b></span>
                    </a>
                </li>
                <li>
                    <a href="#lable">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span class="fa fa-anchor solo"><b>Edit labels</b></span>
                    </a>
                </li>
                <li>
                    <a href="#Archive">
                        <span class="glyphicon glyphicon-save"></span>
                        <span class="fa fa-anchor solo"><b>Archive</b></span>
                    </a>
                </li>
                <li>
                    <a href="#Trash">
                        <span class="glyphicon glyphicon-trash"></span>
                        <span class="fa fa-anchor solo"><b>Trash</b></span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- Page content -->
    <!--<div id="page-content-wrapper">-->
        <!--<div class="page-content">-->
            <!--<div class="container-fluid">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-6">-->
                        <!--<div class="panel panel-danger">-->
                            <!--<div class="panel-heading">-->
                                    <!--Panel 1-->
                            <!--</div>-->
                            <!--<div class="panel-body">-->
                                <!--content body-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-6">-->
                        <!--<div class="panel panel-success">-->
                            <!--<div class="panel-heading">-->
                                    <!--Panel 1-->
                            <!--</div>-->
                            <!--<div class="panel-body">-->
                                <!--content body-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->














<!--<header class="header" role="banner" >-->
<!--<nav class="navbar navbar-default">-->
    <!--<div class="container-fluid">-->
        <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
        <!--<div class="navbar-header">-->
            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
            <!--<span class="sr-only">Toggle navigation</span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
            <!--</button>-->
        <!--&lt;!&ndash;<div class="mx-0" style="width: 50px;">&ndash;&gt;-->
            <!--<a class="navbar-brand" href="#">-->
            <!--<img src="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png" width="40" height="40" class="d-inline-block align-top" alt="" align="left" hspace="35">-->
            <!--</a>-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->

        <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->

        <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
          <!--<ul class="nav navbar-nav">-->
                <!--<a class="nav-link" href="#"><h3 class="fundooTitle">fundooNotes</h3><span class="sr-only">(current)</span></a>-->
          <!--</ul>-->

            <!--<form class="navbar-form navbar-left">-->
                  <!--<div class="form-group">-->
                        <!--&lt;!&ndash;<input class="form-control mr-lg-2" type="search" placeholder="Search" aria-label="Search">&ndash;&gt;-->
                          <!--<input class="form-control input-lg" id="inputlg" type="text" type="search" placeholder="Search" aria-label="Search">-->

                  <!--</div>-->
                  <!--<button type="button" class="btn "><span class="glyphicon glyphicon-repeat"></span> </button>-->
                  <!--<button type="button" class="btn "><span class="glyphicon glyphicon-th-large"></span> </button>-->
                  <!--<button type="button" class="btn "><span class="glyphicon glyphicon-cog"></span> </button>-->
                  <!--<button type="button" class="btn "style="margin-left: 24px;"><span class="glyphicon glyphicon-th"></span> </button>-->
                  <!--<button type="button" class="btn "><span class="glyphicon glyphicon-bell"></span> </button>-->


            <!--</form>-->
        <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
     <!--</div>-->
    <!--</div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->


<!--</nav>-->

<!--</header>-->


    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <!--&lt;!&ndash;<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>&ndash;&gt;-->
    <!--&lt;!&ndash;<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>&ndash;&gt;-->

</body>
</html>


































