<!--<!doctype html>-->
<!--<html class="gr__jqueryscript_net"><head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">-->
<!--<title>jQuery jQuery Awesome Cropper Demo</title>-->
<!--<style type="text/css">-->
<!--body { padding-bottom: 40px; }-->

<!--/* Custom container */-->


<!--.container-narrow {-->
  <!--margin: 150px auto 50px auto;-->
  <!--max-width: 728px;-->
<!--}-->

<!--</style>-->

<!--<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">-->
<!--<link href="components/imgareaselect/css/imgareaselect-default.css" rel="stylesheet" media="screen">-->
<!--<link rel="stylesheet" href="css/jquery.awesome-cropper.css">-->
<!--</head>-->

<!--<body data-gr-c-s-loaded="true">-->
<!--<div class="container-narrow">-->
  <!--<div>-->
    <!--<h1>jQuery jQuery Awesome Cropper Demo</h1>-->
    <!--<div class="jquery-script-ads"><script type="text/javascript" async="" src="https://ssl.google-analytics.com/ga.js"></script><script type="text/javascript">&lt;!&ndash;-->
<!--google_ad_client = "ca-pub-2783044520727903";-->
<!--/* jQuery_demo */-->
<!--google_ad_slot = "2780937993";-->
<!--google_ad_width = 728;-->
<!--google_ad_height = 90;-->
<!--//&ndash;&gt;-->
<!--</script>-->
<!--<script type="text/javascript" src="https://pagead2.googlesyndication.com/pagead/show_ads.js">-->
<!--</script></div>-->
    <!--<form role="form">-->
      <!--<input id="sample_input" type="hidden" name="test[image]"><div class="awesome-cropper"><input type="file"><div class="progress hide"><div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div></div><img><div class="modal" role="dialog"><div class="modal-dialog"><div class="modal-content"><div class="modal-body"><div class="col-md-9"><img></div><div class="col-md-3"><canvas width="150" height="150"></canvas></div><div class="clearfix"></div></div><div class="modal-footer"><div class="btn-group"><a href="#" class="btn btn-danger" data-dismiss="modal">Cancel</a><a href="#" class="btn yes btn-primary">Apply</a></div></div></div></div></div></div>-->
    <!--</form>-->
  <!--</div>-->
  <!--<hr>-->
  <!--<div class="footer">-->
    <!--<p>© 8xx8</p>-->
  <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; /container &ndash;&gt;-->

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
<!--<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>-->
<!--<script src="components/imgareaselect/scripts/jquery.imgareaselect.js"></script>-->
<!--<script src="build/jquery.awesome-cropper.js"></script>-->
<!--<script>-->
    <!--$(document).ready(function () {-->
        <!--$('#sample_input').awesomeCropper(-->
        <!--{ width: 150, height: 150, debug: true }-->
        <!--);-->
    <!--});-->
    <!--</script>-->
<!--<script type="text/javascript">-->

  <!--var _gaq = _gaq || [];-->
  <!--_gaq.push(['_setAccount', 'UA-36251023-1']);-->
  <!--_gaq.push(['_setDomainName', 'jqueryscript.net']);-->
  <!--_gaq.push(['_trackPageview']);-->

  <!--(function() {-->
    <!--var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;-->
    <!--ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';-->
    <!--var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);-->
  <!--})();-->

<!--</script>-->


<!--</body></html>-->
<html class="gr__cssscript_com"><head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>cropper.js example</title>
        <link href="https://www.cssscript.com/wp-includes/css/sticky.css" rel="stylesheet" type="text/css">
		<!-- Import the library js file -->
		<!-- You might want to use "cropper_jsmin.js" on an actual site -->
		<script async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript" src="cropper.js"></script>
	</head>
	<body data-gr-c-s-loaded="true"><div id="css-script-menu">
  <div class="css-script-center">
    <ul>
      <li><a href="https://www.cssscript.com/easy-client-side-image-cropping-library-cropper-js/">Download</a></li>
      <li><a href="https://www.cssscript.com/">Back To CSS Script</a></li>
    </ul>
    <div class="css-script-ads"><script type="text/javascript"><!--
google_ad_client = "ca-pub-2783044520727903";
/* CSSScript Demo Page */
google_ad_slot = "3025259193";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
      <script type="text/javascript" src="https://pagead2.googlesyndication.com/pagead/show_ads.js">
</script></div>
    <div class="css-script-clear"></div>
  </div>
</div>
    <h1 style="margin:150px auto 30px auto;">cropper.js example</h1>
		<!-- A canvas which cropper will draw on -->
		<canvas id="testCanvas" width="600" height="450" style="border: 1px solid black; cursor: auto;">Your browser does not support canvas.</canvas>

		<script type="text/javascript">
			cropper.start(document.getElementById("testCanvas"), 1); // initialize cropper by providing it with a target canvas and a XY ratio (height = width * ratio)

			function handleFileSelect() {
				// this function will be called when the file input below is changed
				var file = document.getElementById("fileInput").files[0];  // get a reference to the selected file

				var reader = new FileReader(); // create a file reader
				// set an onload function to show the image in cropper once it has been loaded
				reader.onload = function(event) {
					var data = event.target.result; // the "data url" of the image
					cropper.showImage(data); // hand this to cropper, it will be displayed
				};

				reader.readAsDataURL(file); // this loads the file as a data url calling the function above once done
			}

		</script>

		<br>
		<!-- Below are a series of inputs which allow file selection and interaction with the cropper api -->
		<input type="file" id="fileInput" onchange="handleFileSelect()">
		<input type="button" onclick="cropper.startCropping()" value="Start cropping">
		<input type="button" onclick="cropper.getCroppedImageSrc()" value="Crop">
		<input type="button" onclick="cropper.restore()" value="Restore">
		<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46156385-1', 'cssscript.com');
  ga('send', 'pageview');

</script>

<script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh'},{'server':'p3plcpnl0805'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script><script src="https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js"></script></body></html>